<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bik.telefood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Telefood">
        <activity android:name=".ui.more.ads.EditAdsActivity" />
        <activity
            android:name=".ui.support.SupportMessageActivity"
            android:label="@string/label_support"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity android:name=".ui.common.ui.ProductDetailsActivity" />
        <activity android:name=".ui.init.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.chat.MessageActivity"
            android:label="@string/title_chat"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity
            android:name=".ui.chat.ChatListActivity"
            android:label="@string/title_chat"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity
            android:name=".ui.support.ContactUsActivity"
            android:label="@string/label_contact_us"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity
            android:name=".ui.support.TechnicalSupportActivity"
            android:label="@string/label_support"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity
            android:name=".ui.notifications.NotificationActivity"
            android:label="@string/label_notification"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity
            android:name=".ui.more.EditProductActivity"
            android:label="@string/label_edit_my_ads"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity
            android:name=".ui.more.ads.MyAdsActivity"
            android:label="@string/label_my_ads"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity
            android:name=".ui.common.ui.ProvidersDetailsActivity"
            android:label="@string/label_providers_details"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity
            android:name=".ui.more.vendors.VendorsListActivity"
            android:label="@string/label_providers"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity
            android:name=".ui.more.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity
            android:name=".ui.more.ChangePasswordActivity"
            android:label="@string/label_change_password"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity
            android:name=".ui.more.SubscriptionRenewalActivity"
            android:label="@string/title_subscription_renewal"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity
            android:name=".ui.more.EditUserInfoActivity"
            android:label="@string/title_edit_account_info"
            android:theme="@style/Theme.Telefood.ActionBar" />
        <activity android:name=".ui.onboarding.UserTypeActivity" />
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:label="@string/title_activity_on_boarding"
            android:theme="@style/Theme.Telefood.NoActionBar" />
        <activity
            android:name=".CommonUtils.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.auth.SignUpActivity" />
        <activity android:name=".ui.auth.ResetPasswordActivity" />
        <activity android:name=".ui.auth.login.LoginActivity" />
        <activity android:name=".ui.auth.EnterPhoneActivity" />
        <activity android:name=".ui.auth.ConfirmCodeActivity" />
        <activity android:name=".ui.more.ContentViewerActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>